body {
    background-color: #282828;
}

.while-text {
    color: white;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.topnav {
    overflow: hidden;
    padding-top: 7px;
    padding-bottom: 7px;
    align-items: center;
}

.margin-aligner {
    margin-top: -100px;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}


/* Change the color of links on hover */


/* Add a color to the active/current link */


/* Right-aligned section inside the top navigation */

.topnav-right {
    float: right;
    margin-right: 10px;
}

.search {
    margin-top: 6px;
    width: 42%;
    height: 35px;
    margin-left: 10px;
    padding-left: 10px;
    border-radius: 5px;
    appearance: none;
}

.main-prof {
    background-color: aliceblue;
    width: 40px;
    height: 40px;
    display: block;
    border-radius: 50%;
    margin-right: 15px;
}

.search-click {
    margin-left: -70px;
    margin-top: 7px;
    height: 40px;
    width: 60px;
    text-align: center;
    color: #282828;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.notification {
    font-size: 30px;
    color: white;
    margin-left: 2%;
}

.mobile {
    display: none;
    height: 100px;
    background-color: #282828;
}

.content {
    padding: 10px;
}

div.scrollmenu {
    background-color: #282828;
    overflow: auto;
    padding-left: 10px;
    white-space: nowrap;
}

div.scrollmenu a {
    border-radius: 10px;
    display: inline-block;
    color: #2c2c2c;
    text-align: center;
    margin-left: 5px;
    padding: 10px;
    text-decoration: none;
}

.type-1 {
    background-image: linear-gradient(to right, #94b0bb, #aac8d5);
}

.type-2 {
    background-image: linear-gradient(to right, #becbb9, #c2cfbd);
}

.type-3 {
    background-image: linear-gradient(to right, #e7cda6, #f1dcbb);
}

div.scrollmenu a:hover {
    background-color: #777;
}

.product-view {
    margin-top: 10px;
    height: 330px;
    width: 100%;
    color: #ebebeb;
}

.product-view-2 {
    margin-top: 10px;
    height: 220px;
    width: 100%;
    color: #ebebeb;
}

.hr-line {
    width: 100%;
    height: 60px;
    border: 1px solid #2c2c2c;
}

.view-all {
    margin-top: 8px;
    height: 40px;
    width: 130px;
    border: 0px;
    border-radius: 5px;
}

.text-alig {
    font-size: 20px;
    font-weight: 400;
    margin-top: 12px;
    margin-left: 10px;
}

.product {
    background-color: #383838;
    height: 270px;
    width: 200px;
    border-radius: 20px;
    display: inline-block;
    color: #ffffff;
    margin-left: 10px;
}

.product-2 {
    background-color: #383838;
    height: 150px;
    width: 300px;
    border-radius: 20px;
    display: inline-block;
    color: #ffffff;
    text-align: center;
    margin-left: 5px;
    text-decoration: none;
}

 ::-webkit-scrollbar {
    width: 0px;
}

.prod-img-1 {
    width: 200px;
    height: 140px;
    border-radius: 20px 20px 0px 0px;
}

.prod-img-2 {
    border-radius: 20px 0px 0px 20px;
    width: 150px;
    height: 150px;
}

ul.product-inf {
    text-decoration: none;
    list-style: none;
    margin-top: 10px;
    margin-left: 10px;
}

.info {
    font-style: italic;
    font-size: 15px;
    color: rgb(184, 184, 184);
}

.overflow {
    overflow: auto;
}

h5.price {
    margin-top: -15px;
    font-style: italic;
}

.circle-button-1 {
    width: 40px;
    height: 40px;
    border: 0;
    border-radius: 50%;
    color: #ebebeb;
    background-color: #f07032;
    float: right;
    margin-top: -50px;
    margin-right: 70px;
}

.circle-button-2 {
    width: 40px;
    height: 40px;
    border: 0;
    color: #ebebeb;
    border-radius: 50%;
    background-color: #f07032;
    float: right;
    margin-top: -50px;
    margin-right: 15px;
}

.circle-button-3 {
    width: 40px;
    height: 40px;
    border: 0;
    margin-top: 5px;
    margin-right: 10px;
    color: #ebebeb;
    border-radius: 50%;
    background-color: #f07032;
    float: right;
}

.circle-button-4 {
    width: 40px;
    height: 40px;
    border: 0;
    margin-top: 5px;
    margin-right: 10px;
    color: #ebebeb;
    border-radius: 50%;
    background-color: #f07032;
    float: right;
}

.ads-pro {
    margin-top: 40px;
    margin-left: 20px;
    width: 130px;
    overflow: auto;
}

.star {
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    font-size: 20px;
    color: gold;
}

.top-footer {
    background-color: #222222;
    border-top: 1px solid #404040;
    padding: 100px 0 80px;
}

.top-footer h3 {
    font-size: 16px;
    line-height: 1.5;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.top-footer p {
    font-size: 13px;
    line-height: 30px;
    color: #bdbdbd;
    font-weight: 300;
    padding-right: 20px;
}

.top-footer li a {
    font-size: 13px;
    line-height: 30px;
    color: #bdbdbd;
    font-weight: 300;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: color .3s;
    font-family: "Titillium Web", sans-serif;
    display: block;
}

.top-footer li a:hover {
    color: #f07032;
}

.footer-bottom {
    text-align: center;
    background-color: #1b1b1b;
    border-top: 1px solid #2c2c2c;
    padding: 30px 0;
}

.footer-bottom h5 {
    font-size: 12px;
    line-height: 1;
    color: #888888;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 7px;
    margin-bottom: 3px;
}

.footer-bottom h6 {
    font-size: 11px;
    line-height: 15px;
    color: #888888;
    font-weight: 400;
    text-transform: capitalize;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.footer-bottom p {
    color: #656565;
}

.footer-bottom a {
    color: #f07032;
}

.subscribe-form .form-control {
    border-radius: 0;
}

.btn-main-sm {
    background-color: #f07032;
    background-image: linear-gradient(100deg, #ebbf61;
    , #f07032;
    );
    color: #fff;
    display: inline-block;
    font-size: 14px;
    letter-spacing: 1px;
    padding: 10px 40px;
    text-transform: uppercase;
    border: 1px solid transparent;
    border-radius: 2px;
    cursor: pointer;
}

.ads {
    max-width: 100%;
    height: 200px;
    background-color: #656565;
    border-radius: 20px;
    margin: 20px;
    color: white;
}

.ad-image {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

@media only screen and (max-width: 800px) {
    .name {
        display: none;
    }
    .search-click {
        width: 80px;
        margin-left: -80px;
    }
    .notification {
        font-size: 30px;
        color: white;
        margin-left: 2%;
    }
}

@media only screen and (max-width: 600px) {
    .mobile {
        display: block;
    }
    .abc {
        display: none;
    }
    .main-prof {
        display: none;
    }
    .search {
        display: none;
    }
    .search-click {
        display: none;
    }
    .notification {
        float: right;
        margin-right: 15px;
        margin-top: 8px;
    }
    .mobile div {
        display: block;
        height: 60px;
        display: flex;
    }
    body {
        background-color: #282828;
    }
    section.mobile {
        height: 60px;
    }
    .mobile-search {
        width: 90%;
        height: 40px;
        border-radius: 10px;
        padding-left: 10px;
        color: #ebebeb;
        background-color: #3d3d3d;
    }
    .square {
        width: 50px;
        height: 50px;
    }
    .filter-mob {
        color: #ebebeb;
        font-size: 30px;
    }
    .search-click-2 {
        margin-left: -70px;
        margin-top: 9px;
        height: 40px;
        width: 60px;
        text-align: center;
        color: rgb(255, 255, 255);
    }
    .search-click-3 {
        height: 40px;
        margin-left: 30px;
        border: 0px;
        border-radius: 10px;
        background-color: #f07032;
        width: 50px;
        border-radius: 5px 5px 5px 5px;
    }
    div.topnav {
        padding: 0px;
    }
    .mobile div.bottom-nav {
        background: #3d3d3d;
        overflow: hidden;
        position: fixed;
        display: flex;
        align-content: space-between;
        color: #ebebeb;
        bottom: 0;
        width: 100%;
    }
    .content {
        padding: 0px;
        margin-top: -10px;
    }
    ..product-view {
        margin: 0px;
    }
    .view-all {
        height: 30px;
        width: 80px;
    }
    .mobile div.bottom-nav a {
        font-size: 25px;
    }
    .mobile div.bottom-nav a:hover {
        color: #f07032;
    }
    .product {
        background-color: #383838;
        height: 250px;
        width: 170px;
        border-radius: 20px;
        display: inline-block;
        color: #ffffff;
        margin-left: 10px;
    }
    .product-2 {
        background-color: #383838;
        width: 250px;
        height: 125px;
        border-radius: 20px;
        display: inline-block;
        color: #ffffff;
        text-align: center;
        margin-left: 5px;
        text-decoration: none;
    }
    .last-product-2 {
        height: 150px;
    }
    .text-alig {
        margin-top: 10px;
    }
    .prod-img-1 {
        width: 170px;
        height: 130px;
        border-radius: 20px 20px 0px 0px;
        /* Style the links inside the navigation bar */
        /* Change the color of links on hover */
    }
    .circle-button-1 {
        width: 30px;
        height: 30px;
        margin-top: -45px;
        margin-right: 50px;
    }
    .circle-button-2 {
        width: 30px;
        height: 30px;
        margin-top: -45px;
        margin-right: 10px;
    }
    .top-footer {
        padding: 10px;
    }
    .mobile-view {
        position: unset;
    }
}